@{
    ViewData["Title"] = "Login";
}
@model Login.Models.UserModel

<div class="row">
    <div class="col-md-5 offset-md-4">
        <form action="/Reg/Set" method="post" class="reg form-group">
            <div>
                <input asp-for="UserName" type="text" name="username"
                       value="" placeholder="Логін"
                       class="d-md-block form-control" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <input asp-for="Passwork" type="password"
                       name="Passwork"
                       value=""
                       placeholder="Пароль"
                       class="d-md-block form-control" />
                <span asp-validation-for="Passwork"></span>
            </div>
            <div>
                <input type="password" name="passwordCheck" value="" placeholder="Пароль повторно" class="d-md-block form-control" />
            </div>
            <div>
                <input asp-for="Email" type="text" name="email" value="" placeholder="Пошта" class="d-md-block form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            @if (@ViewBag.Message != null)
            {
                <p>@ViewBag.Message</p>
            }
            <div>
                <input type="submit" class="btn btn-success btn-block" value="Зареєструватися" />
            </div>
            <div class="link_reg">
                <a class="card-link" href="/login">Вхід</a>
            </div>
        </form>
    </div>
</div>